* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
  }
  
  body {
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }