.product {
    padding: 20px;
    text-align: center;
    transition: 0.3s;
  }
  
  .product:hover {
    transform: translateY(-10px) scale(1.02);
  }
  
  .product img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  
  .product button {
    margin-top: 10px;
    padding: 10px 20px;
    background: var(--primary);
    border: none;
    border-radius: 8px;
    color: white;
  }
  .product-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
  }